<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ColorConfigurationSection" type="Pic_a_Pix.CustomConfig.ColorConfigurationSection, Pic-a-Pix"/>
  </configSections>
  <ColorConfigurationSection>
    <DefaultColor color="Black" hintCharacter="B" colorCode="000000"/>
    <Blank color="Blank" hintCharacter="W" colorCode="123456"/>
    <colors>
      <add color="Black" hintCharacter="B" colorCode="000000"/>
    </colors>
  </ColorConfigurationSection>
</configuration>