<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ColorConfigurationSection" type="Pic_a_Pix.CustomConfig.ColorConfigurationSection, Pic-a-Pix"/>
  </configSections>
  <ColorConfigurationSection>
    <DefaultColor color="Black" hintCharacter="" colorCode="000000"/>
    <Blank color="Blank" hintCharacter="W" colorCode="FFFFFF"/>
    <colors>
      <add color="Black" hintCharacter="" colorCode="000000"/>
      <add color="Red" hintCharacter="R" colorCode="FF0000"/>
      <add color="Blue" hintCharacter="B" colorCode="0000FF"/>
      <add color="Brown" hintCharacter="C" colorCode="EF9A50"/>
      <add color="Green" hintCharacter="G" colorCode="00FF00"/>
      <add color="Dark Brown" hintCharacter="D" colorCode="A06700"/>
    </colors>
  </ColorConfigurationSection>
</configuration>